/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html * {
    color: #000000;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Open Sans', serif !important;

}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@media all and (max-width: 480px) {
    #grid[data-columns]::before {
        content: '1 .column.size-1of1'
    }
}

@media all and (min-width: 481px) and (max-width: 768px) {
    #grid[data-columns]::before {
        content: '2 .column.size-1of2'
    }
}

@media all and (min-width: 769px) {
    #grid[data-columns]::before {
        content: '3 .column.size-1of3'
    }
}

.column {
    float: left
}

.size-1of1 {
    width: 100%
}

.size-1of2 {
    width: 50%
}

.size-1of3 {
    width: 33.333%
}

@-webkit-keyframes onload {
    0% {
        padding-top: 1em;
        padding-bottom: 1em;
        opacity: 0
    }
    100% {
        padding-top: 2em;
        padding-bottom: 0em;
        opacity: 1.0
    }
}

@-moz-keyframes onload {
    0% {
        padding-top: 1em;
        padding-bottom: 1em;
        opacity: 0
    }
    100% {
        padding-top: 2em;
        padding-bottom: 0em;
        opacity: 1.0
    }
}

@-o-keyframes onload {
    0% {
        padding-top: 1em;
        padding-bottom: 1em;
        opacity: 0
    }
    100% {
        padding-top: 2em;
        padding-bottom: 0em;
        opacity: 1.0
    }
}

@keyframes onload {
    0% {
        padding-top: 1em;
        padding-bottom: 1em;
        opacity: 0
    }
    100% {
        padding-top: 2em;
        padding-bottom: 0em;
        opacity: 1.0
    }
}

@-webkit-keyframes onload-inverted {
    0% {
        padding-top: 1.25em;
        padding-bottom: 0em;
        opacity: 0
    }
    100% {
        padding-top: 0em;
        padding-bottom: 1.25em;
        opacity: 1.0
    }
}

@-moz-keyframes onload-inverted {
    0% {
        padding-top: 1.25em;
        padding-bottom: 0em;
        opacity: 0
    }
    100% {
        padding-top: 0em;
        padding-bottom: 1.25em;
        opacity: 1.0
    }
}

@-o-keyframes onload-inverted {
    0% {
        padding-top: 1.25em;
        padding-bottom: 0em;
        opacity: 0
    }
    100% {
        padding-top: 0em;
        padding-bottom: 1.25em;
        opacity: 1.0
    }
}

@keyframes onload-inverted {
    0% {
        padding-top: 1.25em;
        padding-bottom: 0em;
        opacity: 0
    }
    100% {
        padding-top: 0em;
        padding-bottom: 1.25em;
        opacity: 1.0
    }
}

@-webkit-keyframes onload-fade {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1.0
    }
}

@-moz-keyframes onload-fade {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1.0
    }
}

@-o-keyframes onload-fade {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1.0
    }
}

@keyframes onload-fade {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1.0
    }
}

#title {
    text-align: center
}

#title .photo-self {
    width: 200px;
    max-width: 50%;
    border-radius: 50%;
    transition: all 1s ease;
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    filter: none;
    border: solid black;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

#title #navbar {
    display: inline
}

#title #navbar * {
    width: -moz-fit-content;
    width: fit-content;
    display: inline
}

#title #navbar h2 {
    padding: 0 0.25rem 0 0.25rem;
    font-size: 1.25em
}

.title-finish {
    position: absolute;
    top: 100px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 3;
    background: #9A9A9A;
    border-top: solid black;
}

.projects {
    background-color: #3B0E84;
    color: #003366;
    position: absolute;
    z-index: 3;
    width: 100%;
    height: auto;
    text-align: center;
}

@media (min-width: 576px) and (max-width: 767px) {
    .card-deck .card:not(:first-child) {
        margin-left: 0 !important;
    }
}

@media(max-width: 767px) {
    .card-deck .card:not(:last-child) {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .section-container {
        margin: 10px !important;
    }
}

@media (min-width: 767px){
    .card-deck .card:not(:first-child) {
        margin-right: 0 !important;
     }

    .card-deck .card:not(:last-child) {
        margin-left: 0 !important;
    }
}

.projects-section {
    padding: 2em 2em 0 2em;
    text-align: left;
}

#projects-title {
    left: 0px;
    top: -webkit-calc(50vh - 100px);
    top: -moz-calc(50vh - 100px);
    top: calc(50vh - 100px);
    width: 100%;
    height: -webkit-calc(50vh + 100px);
    height: -moz-calc(50vh + 100px);
    height: calc(50vh + 100px)
}

#projects-title #title {
    position: relative;
    -webkit-animation: onload-inverted 1s ease;
    -moz-animation: onload-inverted 1s ease;
    -o-animation: onload-inverted 1s ease;
    animation: onload-inverted 1s ease;
    z-index: 5;
    padding: 0px
}

#projects-title:after {
    content: "";
    display: block;
    height: 0px
}

#cover-title {
    position: absolute;
    left: 0px;
    top: -webkit-calc(50vh - 100px);
    top: -moz-calc(50vh - 100px);
    top: calc(50vh - 100px);
    width: 100%;
    height: -webkit-calc(50vh + 100px);
    height: -moz-calc(50vh + 100px);
    height: calc(50vh + 100px)
}

#cover-title #title {
    position: relative;
    -webkit-animation: onload-inverted 1s ease;
    -moz-animation: onload-inverted 1s ease;
    -o-animation: onload-inverted 1s ease;
    animation: onload-inverted 1s ease;
    z-index: 5;
    padding: 0px
}

#cover-title:after {
    content: "";
    display: block;
    height: 0px
}

.about-section {
    text-align: left;
}

.about {
    color: #003366;
    position: absolute;
    z-index: 3;
    width: 100%;
    height: auto;
    margin-top: 100vh;
    text-align: center;
}

.about #main-container {
    padding: 5em 0em
}

.about hr {
    color: white;
    background-color: white
}

.about h3 a {
    color: #003366
}

.greyToGold {
    height: 200px;
    background: -webkit-linear-gradient(#9A9A9A, #0066cc);
    background: -moz-linear-gradient(#9A9A9A, #0066cc);
    background: linear-gradient(#9A9A9A, #0066cc);
}

.goldToGrey {
    height: 200px;
    background: -webkit-linear-gradient(#0066cc, #3B0E84);
    background: -moz-linear-gradient(#0066cc, #3B0E84);
    background: linear-gradient(#0066cc, #3B0E84);
}

@media all and (max-width: 480px) {
    .post-list {
        padding: 2em 0 0 0
    }
}

body {
    margin: 0px
}

*, *::before, *::after {
    box-sizing: border-box
}

section {
    padding-top: 2em;
    -webkit-animation: onload 1s ease;
    -moz-animation: onload 1s ease;
    -o-animation: onload 1s ease;
    animation: onload 1s ease
}

a {
    text-decoration: none !important;
    -webkit-transition: .25s all;
    transition: .25s all;
}

a.projectCard {
    color: #FFFFFF !important;
}

a.projectCard:hover {
    text-decoration: underline !important;
    color: #666666 !important;
}

a:hover {
    text-decoration: none;
}

a.colored {
    color: #FFFFFF;
    background-color: #003366;
}

.navbar-inverse > .navbar-toggler {
    border-color: #000000 !important;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

#nav {
    background-color: inherit;
}

h1 h2 h3 h4 {
    font-family: serif;
    color: #000000 !important
}

h1.colored {
    color: #003366;
}

#main-container {
    background-color: #0066cc;
    font-family: "Droid Sans Mono", monospace;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px
}

#background {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 50vh;
    width: 100%;
    opactiy: 0;
    z-index: 0;
    background: scroll center center;
    background-size: cover;
    transition: opacity 2s ease;
    background-image: url("../img/background.png");
}

.centered-text {
    text-align: center
}

.section-container {
    width: auto;
    height: auto;
    margin-left: 5em;
    margin-right: 5em;
}

.grid-container {
    margin: 20px 0px 20px 0px;
    width: 100%
}

.grid-container:after {
    content: "";
    display: table;
    clear: both
}

.links {
    text-align: center;
    margin-top: 100px;
    z-index: 5;
}

.customGroup {
    text-align: center;
    z-index: 5;
}

.card {
    overflow: hidden;
    -webkit-transition: .25s box-shadow;
    transition: .25s box-shadow;
}

.card:focus, .card:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.5), 0 4px 15px 0 rgba(0, 0, 0, 0.5);
}

.card-primary {
    background-color: #9A9A9A !important;
    border-color: #9A9A9A !important;
}

.card-title {
    color: #FFFFFF !important;
}

.card-blockquote > p {
    color: #FFFFFF;
}

@media (max-width: 600px) {
    .card-columns {
        -webkit-column-count: 1 !important;
        -moz-column-count: 1 !important;
        column-count: 1 !important;
    }
}

@media (min-width: 600px) {
    .card-columns {
        -webkit-column-count: 2 !important;
        -moz-column-count: 2 !important;
        column-count: 2 !important;
    }
}

@media (min-width: 800px) {
    .card-columns {
        -webkit-column-count: 3 !important;
        -moz-column-count: 3 !important;
        column-count: 3 !important;
    }
}