/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html * {
    color: #003366;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Open Sans', serif !important;

}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@media all and (max-width: 480px) {
    #grid[data-columns]::before {
        content: '1 .column.size-1of1'
    }
}

@media all and (min-width: 481px) and (max-width: 768px) {
    #grid[data-columns]::before {
        content: '2 .column.size-1of2'
    }
}

@media all and (min-width: 769px) {
    #grid[data-columns]::before {
        content: '3 .column.size-1of3'
    }
}

.column {
    float: left
}

.size-1of1 {
    width: 100%
}

.size-1of2 {
    width: 50%
}

.size-1of3 {
    width: 33.333%
}

@-webkit-keyframes onload {
    0% {
        padding-top: 1em;
        padding-bottom: 1em;
        opacity: 0
    }
    100% {
        padding-top: 2em;
        padding-bottom: 0em;
        opacity: 1.0
    }
}

@-moz-keyframes onload {
    0% {
        padding-top: 1em;
        padding-bottom: 1em;
        opacity: 0
    }
    100% {
        padding-top: 2em;
        padding-bottom: 0em;
        opacity: 1.0
    }
}

@-o-keyframes onload {
    0% {
        padding-top: 1em;
        padding-bottom: 1em;
        opacity: 0
    }
    100% {
        padding-top: 2em;
        padding-bottom: 0em;
        opacity: 1.0
    }
}

@keyframes onload {
    0% {
        padding-top: 1em;
        padding-bottom: 1em;
        opacity: 0
    }
    100% {
        padding-top: 2em;
        padding-bottom: 0em;
        opacity: 1.0
    }
}

@-webkit-keyframes onload-inverted {
    0% {
        padding-top: 1.25em;
        padding-bottom: 0em;
        opacity: 0
    }
    100% {
        padding-top: 0em;
        padding-bottom: 1.25em;
        opacity: 1.0
    }
}

@-moz-keyframes onload-inverted {
    0% {
        padding-top: 1.25em;
        padding-bottom: 0em;
        opacity: 0
    }
    100% {
        padding-top: 0em;
        padding-bottom: 1.25em;
        opacity: 1.0
    }
}

@-o-keyframes onload-inverted {
    0% {
        padding-top: 1.25em;
        padding-bottom: 0em;
        opacity: 0
    }
    100% {
        padding-top: 0em;
        padding-bottom: 1.25em;
        opacity: 1.0
    }
}

@keyframes onload-inverted {
    0% {
        padding-top: 1.25em;
        padding-bottom: 0em;
        opacity: 0
    }
    100% {
        padding-top: 0em;
        padding-bottom: 1.25em;
        opacity: 1.0
    }
}

@-webkit-keyframes onload-fade {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1.0
    }
}

@-moz-keyframes onload-fade {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1.0
    }
}

@-o-keyframes onload-fade {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1.0
    }
}

@keyframes onload-fade {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1.0
    }
}

#title {
    text-align: center
}

#title .photo-self {
    width: 200px;
    max-width: 50%;
    border-radius: 50%;
    transition: all .5s ease;
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    filter: none
}

#title .photo-self:hover {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    filter: blur(3px)
}

#title .navbar {
    display: inline
}

#title .navbar * {
    width: -moz-fit-content;
    width: fit-content;
    display: inline
}

#title .navbar h2 {
    padding: 0 0.25rem 0 0.25rem;
    font-size: 1.25em
}

.about-section {
    padding: 2em 3em 0 3em;
    text-align: left;
}

.about {
    background-color: #cccc99;
    color: #003366;
    position: absolute;
    z-index: 3;
    width: 100%;
    height: auto;
    margin-top: 100vh;
    text-align: center;
}

.about #main-container {
    padding: 8em 1em
}

.about hr {
    color: white;
    background-color: white
}

.about h3 a {
    color: #003366
}

#writings {
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none
}

@media all and (max-width: 480px) {
    .post-list {
        padding: 2em 0 0 0
    }
}

body {
    margin: 0px
}

*, *::before, *::after {
    box-sizing: border-box
}

section {
    padding-top: 2em;
    -webkit-animation: onload 1s ease;
    -moz-animation: onload 1s ease;
    -o-animation: onload 1s ease;
    animation: onload 1s ease
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none;
}

.title-finish {
    position: absolute;
    top: 100px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 3;
    background: #cccccc
}

h1 h2 h3 h4 {
    font-family: serif;
    color: #003366 !important
}

h1.colored {
    color: #003366;
}

a.colored {
    color: #999999;
    background-color: #003366;
}

#main-container {
    font-family: "Droid Sans Mono", monospace;
    max-width: 1024px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px
}

#background {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 50vh;
    width: 100%;
    opactiy: 0;
    z-index: 0;
    background: scroll center center;
    background-size: cover;
    transition: opacity 2s ease;
    background-image: url("../img/background.png");
}

#projects-title {
    left: 0px;
    top: -webkit-calc(50vh - 100px);
    top: -moz-calc(50vh - 100px);
    top: calc(50vh - 100px);
    width: 100%;
    height: -webkit-calc(50vh + 100px);
    height: -moz-calc(50vh + 100px);
    height: calc(50vh + 100px)
}

#projects-title #title {
    position: relative;
    -webkit-animation: onload-inverted 1s ease;
    -moz-animation: onload-inverted 1s ease;
    -o-animation: onload-inverted 1s ease;
    animation: onload-inverted 1s ease;
    z-index: 5;
    padding: 0px
}

#projects-title:after {
    content: "";
    display: block;
    height: 0px
}

#cover-title {
    position: absolute;
    left: 0px;
    top: -webkit-calc(50vh - 100px);
    top: -moz-calc(50vh - 100px);
    top: calc(50vh - 100px);
    width: 100%;
    height: -webkit-calc(50vh + 100px);
    height: -moz-calc(50vh + 100px);
    height: calc(50vh + 100px)
}

#cover-title #title {
    position: relative;
    -webkit-animation: onload-inverted 1s ease;
    -moz-animation: onload-inverted 1s ease;
    -o-animation: onload-inverted 1s ease;
    animation: onload-inverted 1s ease;
    z-index: 5;
    padding: 0px
}

#cover-title:after {
    content: "";
    display: block;
    height: 0px
}

.centered-text {
    text-align: center
}

.section-container {
    width: auto;
    height: auto
}

.grid-container {
    margin: 20px 0px 20px 0px;
    width: 100%
}

.grid-container:after {
    content: "";
    display: table;
    clear: both
}

.links {
    text-align: center;
    margin-top: 100px;
    z-index: 5;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
